
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}
@using Worry_freemanagement.Models;
@model List<Wage>
@{
    var cont = 1;
    List<Stafftable> sat = ViewBag.sta;
    var sta = ViewBag.see;
}
<h2>员工工资详情</h2>
<form action="/Wages/Index" method="post">
    <div class="form-inline col-lg-12" style="margin-top:30px;">
        <label style="font-size:18px;">员工姓名:</label>
        <select class="form-control" name="EmployeeID">
            @foreach (var item in sat)
            {
                <option value="@item.EmployeeID" name="EmployeeID">@item.Name</option>
            }
        </select>
        <input type="submit"  value="搜索" class="btn btn-default btn-warning"/>
    </div>
</form>

<form action="/Wages/Index" method="post" style="margin-top:30px;">
    <table class="table table-bordered table-hover table-condensed table-striped" style="text-align:center;">
        <tr class="active">
            <th style="text-align:center;">编号</th>
            <th style="text-align:center;">员工工号</th>
            <th style="text-align:center;">员工姓名</th>
            <th style="text-align:center;">工资日期</th>
            <th style="text-align:center;">总工资</th>
            <th style="text-align:center;">查看详情</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr class="warning">
        <td>@(cont++)</td>
        <td>@item.EmployeeID</td>
        <td>@item.Name</td>
        <td>@item.Month</td>
        <td>@(item.Real=item.Basicwage+item.Gongz+item.Overtime+item.Insurance)</td>
        @*<td>@item.Real</td>*@
        <td>
            <a href="/Wages/selelct?id=@item.ID" class="btn btn-default btn-primary">查看详情</a>
        </td>
    </tr>
        }
    </table>
</form>





@*分页*@
<div style="position:absolute;top:600px;height:auto;width:1100px;">
    <div classs="row">
        <div class="col-lg-8">
            <label style="color:black;">总共 @ViewBag.totalCount 行</label>
            <select onchange="window.location = this.value;">
                @{
                    int[] count = new[] { 2, 4, 5, 10, 15 };
                }
                @foreach (var item in count)
                {
                    if (item.Equals(ViewBag.pageCount))
                    {
                        <option value="/Wages/Index?pageIndex=@ViewBag.pageIndex&pageCount=@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="/Wages/Index?pageIndex=@ViewBag.pageIndex&pageCount=@item">@item</option>
                    }

                }
            </select>
        </div>
        <div class="col-lg-4" style="margin-top:-30px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="/Wages/Index?pageIndex=1&pageCount=@ViewBag.pageCount">首页</a>
                    </li>

                    @if (@ViewBag.pageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Wages/Index?pageIndex=@(ViewBag.pageIndex-1)&pageCount=@ViewBag.pageCount">上一页</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">上一页</a>
                        </li>
                    }

                    <li class="page-item">
                        <a class="page-link" href="#">@ViewBag.pageIndex</a>
                    </li>

                    @if (@ViewBag.pageIndex < @ViewBag.totalPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Wages/Index?pageIndex=@(ViewBag.pageIndex+1)&pageCount=@ViewBag.pageCount">下一页</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">下一页</a>
                        </li>
                    }

                    <li class="page-item"><a class="page-link" href="/Wages/Index?pageIndex=@ViewBag.totalPage&pageCount=@ViewBag.pageCount">末页</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>@*分页尾*@



