
@{
    ViewBag.Title = "Hire";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}

@using Worry_freemanagement.Models;
@model Recruitment
    <a href="/Login/Department"><img src="~/image/返回.jpg" style="width:25px;height:25px;"></a>
<h2>录用员工</h2>
</br>
</br>
<form action="/Recruitment/Hire" method="post" style="margin-left:30px;" >
    <table class="table table-bordered table-hover table-condensed table-striped">
        <tr class="active">
            <th><h4>编号：</h4></th>
            <td><input type="text" name="EmployeeID" value="@Model.RecruitmentID" class="form-control" /></td>
        </tr>
        <tr class="warning">
            <th><h4>姓名：</h4></th>
            <td><input type="text" name="Name" value="@Model.Name" class="form-control" /></td>
        </tr>
        <tr>
            <th><h4>照片：</h4></th>
            <td><img src="~/image/@Model.Photos" name="Photos" style="width:50px;height:50px; border-radius:50%;">
            <input type="hidden" name="Photos" value="@Model.Photos" /></td>
           
        </tr>

        <tr class="warning">
            <th><h4>年龄：</h4></th>
            <td><input type="text" name="Age" value="@Model.Age" class="form-control" /></td>
        </tr>
        <tr class="active">
            <th><h4>性别：</h4></th>
            <td><input type="text" name="Sex" value="@Model.Sex" class="form-control" /></td>
        </tr>
        <tr class="warning">
            <th><h4>籍贯：</h4></th>
            <td><input type="text" name="Nativeplace" value="@Model.Nativeplace" class="form-control" /></td>
        </tr>
        <tr class="active">
            <th><h4>学历：</h4></th>
            <td><input type="text" name="Education" value="@Model.Education" class="form-control" /></td>
        </tr>
        <tr class="warning">
            <th><h4>应聘部门：</h4></th>
            <td><input type="text" name="DepartmentID" value="@Model.DepartmentID" class="form-control" /></td>
        </tr>
        <tr class="active">
            <th><h4>应聘职位：</h4></th>
            <td><input type="text" name="Position" value="@Model.Position" class="form-control" /></td>
        </tr>
        <tr class="warning">
            <th><h4>电话：</h4></th>
            <td><input type="text" name="Telephone" value="@Model.Phone" class="form-control" /></td>
        </tr>
    </table>
    <input type="hidden" name="id" value="@Model.RecruitmentID" />
    </br>
    <input type="submit" name="name"   class="btn btn-default btn-info" value="确认录用" />
</form>



