
@{
    ViewBag.Title = "WageSelelct";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
@using Worry_freemanagement.Models;
@{
    var wag = ViewBag.weg;
    Stafftable sta = Session["user"] as Stafftable;
}
<h2>查看本月工资</h2>
<form action="#" method="post" style="margin-left:30px;margin-top:30px;">
    <table class="table table-bordered table-hover table-condensed table-striped">
        <tr class="active">
            <th><h4>员工编号：</h4></th>
            <td><h4>@wag.EmployeeID</h4></td>
        </tr>
        <tr class="warning">
            <th><h4>员工姓名：</h4></th>
            <td><h4>@wag.Name</h4></td>
        </tr>
        <tr class="active">
            <th><h4>所在部门：</h4></th>
            <td><h4>@wag.DepartmentID</h4></td>
        </tr>
        <tr>
            <th><h4>工资发放日期：</h4></th>
            <td><h4>@wag.Month</h4></td>
        </tr>
        <tr class="warning">
            <th><h4>基本工资：</h4></th>
            <td><h4>@wag.Basicwage</h4></td>
        </tr>
        <tr class="active">
            <th><h4>按月奖金：</h4></th>
            <td><h4>@wag.Overtime</h4></td>
        </tr>
        <tr class="warning">
            <th><h4>加班补贴：</h4></th>
            <td><h4>@wag.Gongz</h4></td>
        </tr>
        <tr class="active">
            <th><h4>考勤工资：</h4></th>
            <td><h4>@wag.Insurance</h4></td>
        </tr>
        <tr class="warning">
            <th><h4>总工资：</h4></th>
            <td><h4>@wag.Real</h4></td>
        </tr>
    </table>
    </br>
    <a href="/HomePage/Wages" class="btn btn-default btn-success">返回</a>
</form>



