
@{
    ViewBag.Title = "alter";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}
@using Worry_freemanagement.Models;
@model Trainingform
<form action="/Training/alter" method="post">
    <h2>修改培训信息</h2>
    <input type="hidden" value="@Model.TrainingID" name="TrainingID" />
    <div style="margin-left:50px;">
        <div>
            <label style="font-size:20px;">培训名称：</label>
            <input type="text" name="Nametraining" value="@Model.Nametraining" class="form-control" />
        </div>
        <br />
        <div>
            <label style="font-size:20px;">参与地点：</label>
            <input type="text" name="Personnel" value="@Model.Personnel" class="form-control" />
        </div>
        <br />
        <div>
            <label style="font-size:20px;">参与人员：</label>
            <input type="text" name="Location" value="@Model.Location" class="form-control" />
        </div>
        <br />
        <div>
            <label style="font-size:20px;">培训宗旨：</label>
            <input type="text" name="Reason" value="@Model.Reason" class="form-control" />
        </div>
        <br />
        <div>
            <label style="font-size:20px;">开始时间：</label>
            <input type="text" name="Datatime" value="@Model.Datatime" class="form-control" />
        </div>
        <br />
        <div>
            <label style="font-size:20px;">结束时间：</label>
            <input type="text" name="Datatimes" value="@Model.Datatimes" class="form-control" />
        </div>
        <br />
        <div>
            <input type="submit" name="name" value="修改部门" class="btn btn-default btn-success" />
        </div>
    </div>
</form>

