
@{
    ViewBag.Title = "Personalcenter";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
@using Worry_freemanagement.Models;
@model Stafftable
@{
    Stafftable sta = Session["user"] as Stafftable;
}
<h2>个人中心</h2>
<form action="/HomePage/Personalcenter" method="post" enctype="multipart/form-data">
    <div style="font-size:18px;  line-height:40px; margin-top:60px;margin-left:300px;">
        <div style="">
            <Label>头&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 像：</Label>
            <img src="~/image/@sta.Photos" style="width:50px;height:50px;border-radius:50px;" />
       
            <input type="hidden" name="Photos" value="@sta.Photos" />
                 <input type="file" name="file" value="@sta.Photos" />
        </div>
        <div class="form-inline">
            <Label>姓&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 名：</Label>
            <input type="text" name="Name" value="@sta.Name" class="form-control" />
        </div>
        <div class="form-inline">
            <Label>性&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 别：</Label>
            <input type="radio" name="Sex" value="男" checked="checked" />男
            <input type="radio" name="Sex" value="女" />女
        </div>
        <div class="form-inline">
            <Label>年&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 龄：</Label>
            <input type="text" name="Age" value="@sta.Age" class="form-control" />
        </div>
        <div class="form-inline">
            <Label>电&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 话：</Label>
            <input type="text" name="Telephone" value="@sta.Telephone" class="form-control" />
        </div>
        <div class="form-inline">
            <Label>户籍所在：</Label>
            <input type="text" name="Nativeplace" value="@sta.Nativeplace" class="form-control" />
        </div>
        <div class="form-inline">
            <Label>部&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 门：</Label>
            <input type="hidden" name="DepartmentID" value="@sta.Departmental.DepartmentID" />
            <input type="text" name="" value="@sta.Departmental.DepartmentName" class="form-control" readonly="readonly" style=" background-color: white;" />
        </div>
        <div class="form-inline">
            <Label>入职日期：</Label>
            <input type="text" name="EntryTime" value="@sta.EntryTime" readonly="readonly" class="form-control" style="background-color:white;" />
        </div>
        <div class="form-inline">
            <Label>职&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 位：</Label>
            <input type="text" name="Position" value="@sta.Position" readonly="readonly" class="form-control" style="background-color:white;" />
        </div>
        <div class="form-inline">
            <Label>学&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 历：</Label>
            <input type="text" name="Education" value="@sta.Education" readonly="readonly" class="form-control" style="background-color:white;" />
        </div>
        <div class="form-inline">
            <Label>账&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 号：</Label>
            <input type="text" name="UserName" value="@sta.UserName" class="form-control" />
        </div>
        <div class="form-inline">
            <Label>密&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 码：</Label>
            <input type="text" name="Password" value="@sta.Password" class="form-control" />
        </div>
        <input type="hidden" name="EmployeeID" value="@sta.EmployeeID" />
        <input type="submit" name="name" value="编辑完成" class="btn btn-default btn-primary" />
    </div>
    <div style="margin-top:-300px;margin-left:800px;font-size:24px;">
        <a href="/HomePage/Personalce">返回</a>
    </div>
</form>
