
@{
    ViewBag.Title = "Delsit";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}
@using Worry_freemanagement.Models;
<h2>个人信息详情</h2>
</br>
</br>
<form action="#" method="post" style="margin-left:30px;">
    <table class="table table-bordered table-hover table-condensed table-striped">
        <tr class="active">
            <th><h4>培训名称：</h4></th>
            <td><h4>@Model.Nametraining</h4></td>
        </tr>
        <tr class="warning">
            <th><h4>参与地点：</h4></th>
            <td><h4>@Model.Personnel</h4></td>
        </tr>
        <tr>
            <th><h4>参与人员：</h4></th>
            <td><h4>@Model.Location</h4></td>
        </tr>
        <tr class="warning">
            <th><h4>培训宗旨：</h4></th>
            <td><h4>@Model.Reason</h4></td>
        </tr>
        <tr class="active">
            <th><h4>参与时间：</h4></th>
            <td><h4>@Model.Datatime</h4></td>
        </tr>
        <tr class="active">
            <th><h4>结束时间：</h4></th>
            <td><h4>@Model.Datatimes</h4></td>                               
        </tr>
    </table>
    </br>
    <a href="/Training/Index" class="btn btn-default btn-success">返回</a>
</form>

