
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFreemana.cshtml";
}
@using Worry_freemanagement.Models;
@model List<Trainingform>
@{
    var cont = 1;
}

<h2>员工培训详情</h2>

<form action="/Training/Index" method="post">
    <table class="table table-bordered table-hover table-condensed table-striped" style="text-align:center;">
        <tr class="active">
            <th style="text-align:center;">编号</th>
            <th style="text-align:center;">培训名称</th>
            <th style="text-align:center;">培训地点</th>
            <th style="text-align:center;">参与人员</th>
            <th style="text-align:center;">培训宗旨</th>
            <th style="text-align:center;">培训开始时间</th>
            <th style="text-align:center;">培训结束时间</th>
            <th style="text-align:center;">操作</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="warning">
                <td>@(cont++)</td>
                <td>@item.Nametraining</td>
                <td>@item.Personnel</td>
                <td>@item.Location</td>
                <td>@item.Reason</td>
                <td>@item.Datatime</td>
                <td>@item.Datatimes</td>
                <td>
                    <a href="/Training/Delsit?id=@item.TrainingID" class="btn btn-default btn-primary">查看详情</a>
                    <a href="/Training/alter?id=@item.TrainingID" class="btn btn-default btn-info">修改</a>
                </td>
            </tr>
        }
    </table>
</form>
@*分页*@
<div style="position:absolute;top:650px;height:auto;width:1200px;">
    <div classs="row">
        <div class="col-lg-8">
            <label style="color:black;">总共 @ViewBag.totalCount 行</label>
            <select onchange="window.location = this.value;">
                @{
                    int[] count = new[] { 2, 4, 5, 10, 15 };
                }
                @foreach (var item in count)
                {
                    if (item.Equals(ViewBag.pageCount))
                    {
                        <option value="/Training/Index?pageIndex=@ViewBag.pageIndex&pageCount=@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="/Training/Index?pageIndex=@ViewBag.pageIndex&pageCount=@item">@item</option>
                    }

                }
            </select>
        </div>
        <div class="col-lg-4" style="margin-top:-30px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="/Training/Index?pageIndex=1&pageCount=@ViewBag.pageCount">首页</a>
                    </li>
                    @if (@ViewBag.pageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Training/Index?pageIndex=@(ViewBag.pageIndex-1)&pageCount=@ViewBag.pageCount">上一页</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">上一页</a>
                        </li>
                    }

                    <li class="page-item">
                        <a class="page-link" href="#">@ViewBag.pageIndex</a>
                    </li>

                    @if (@ViewBag.pageIndex < @ViewBag.totalPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Training/Index?pageIndex=@(ViewBag.pageIndex+1)&pageCount=@ViewBag.pageCount">下一页</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">下一页</a>
                        </li>
                    }

                    <li class="page-item"><a class="page-link" href="/Training/Index?pageIndex=@ViewBag.totalPage&pageCount=@ViewBag.pageCount">末页</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
@*分页尾*@
